body{

    margin: 0;

}

header{

    background-color: purple;
    height:100px;

}

h1{
    text-align: center;
    color: #fff;
    margin:0;
    line-height: 100px;

}

article{

    padding: 10px;
    margin:10px;
    background-color: aqua;
}

section {
    display: flex;
  }


  